<div class="totopshow">
    <a href="#" class="back-to-top"><img alt="Back to Top" src="images/gototop0.png" /></a>
</div>
<div id="ttr_page" class="container">

    <div id="ttr_content_and_sidebar_container">
        <div id="ttr_content">
            <div id="ttr_content_margin" class="container-fluid">
                <div style="height:0px;width:0px;overflow:hidden;-webkit-margin-top-collapse: separate;"></div>
                <div class="ttr_About_html_row1 row">
                    <div class="post_column col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="ttr_About_html_column10">
                            <div style="height:0px;width:0px;overflow:hidden;-webkit-margin-top-collapse: separate;"></div>
                            <div style="height:0px;width:0px;overflow:hidden;-webkit-margin-top-collapse: separate;"></div>
                            <div style="clear:both;"></div>
                        </div>
                    </div>
                    <div class="clearfix visible-lg-block visible-sm-block visible-md-block visible-xs-block">
                    </div>
                </div>
                <div class="ttr_About_html_row2 row">
                    <div class="post_column col-lg-5 col-md-12 col-sm-12 col-xs-12">
                        <div class="ttr_About_html_column20">
                            <div style="height:0px;width:0px;overflow:hidden;-webkit-margin-top-collapse: separate;"></div>
                            <div class="html_content"><p><span class="ttr_image" style="float:none;display:block;text-align:center;overflow:hidden;margin:0em 0em 0em 0em;"><span><img src="images/110.jpg" style="max-width:550px" class="img-thumbnail" /></span></span></p></div>
                            <div style="height:0px;width:0px;overflow:hidden;-webkit-margin-top-collapse: separate;"></div>
                            <div style="clear:both;"></div>
                        </div>
                    </div>
                    <div class="clearfix visible-sm-block visible-md-block visible-xs-block">
                    </div>
                    <div class="post_column col-lg-7 col-md-12 col-sm-12 col-xs-12">
                        <div class="ttr_About_html_column21">
                            <div style="height:0px;width:0px;overflow:hidden;-webkit-margin-top-collapse: separate;"></div>
                            <div class="html_content"><p style="margin:0.14em 0em 0em 4.29em;line-height:1.47042253521127;"><br style="font-family:'Rosario','Arial';font-weight:700;font-size:1.429em;color:rgba(40,54,61,1);" /></p><p style="margin:0.14em 0em 0em 4.29em;line-height:1.47042253521127;"><span style="font-family:'Rosario','Arial';font-weight:700;font-size:1.89em; color:rgba(40,54,61,1);">What basically this Application is?</span></p><p style="margin:0.14em 0em 0em 4.29em;line-height:1.47042253521127;">&nbsp;</p><p style="margin:0.14em 0em 0em 4.29em;line-height:1.76056338028169;"><span style="font-family:'PT Sans','Arial';color:rgba(52,52,52,1);">The doctor AI heart specialist system is designed and developed to address the people having symptoms of unhealthy heart and helps them to analyze the health of heart by providing some basic medical data and if they observe certain health diverging trend then they can consult with doctors asap or can consult with pre-registered consultant to carry on their treatment further as an early bud.The Key idea behind developing the system is to facilitates the patients to diagnosed their disease by uploading their medical routine. The system will diagnose several heart diseases.Moreover, the system will also incorporate the consultancy of the medical expert whenever needed.</span></p><p style="margin:0.14em 0em 0em 4.29em;line-height:1.76056338028169;"><br style="font-family:'PT Sans','Arial';color:rgba(52,52,52,1);" /></p><p style="margin:0.14em 0em 0em 4.29em;line-height:1.76056338028169;"><span><a href="" target="_self" class="btn btn-lg btn-primary">FIND OUT MORE ></a></span></p></div>
                            <div style="height:0px;width:0px;overflow:hidden;-webkit-margin-top-collapse: separate;"></div>
                            <div style="clear:both;"></div>
                        </div>
                    </div>
                    <div class="clearfix visible-lg-block visible-sm-block visible-md-block visible-xs-block">
                    </div>
                </div>
                <div class="ttr_About_html_row3 row">

                    <div class="clearfix visible-lg-block visible-sm-block visible-md-block visible-xs-block">
                    </div>
                </div>
                <div class="ttr_About_html_row4 row">
                    <div class="post_column col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <div class="ttr_About_html_column40">
                            <div style="height:0px;width:0px;overflow:hidden;-webkit-margin-top-collapse: separate;"></div>
                            <div class="html_content"><p style="margin:0.36em 0.36em 1.43em 0em;"><span class="ttr_image" style="float:Left;overflow:hidden;margin:0em 1.43em 0em 0em;"><span><img src="images/111.png" class="ttr_fill" style="max-width:48px;max-height:48px;" /></span></span><span style="font-family:'PT Sans','PT Sans';font-weight:700;font-size:1.286em;color:rgba(40,54,61,1);">Real-time Heart Analyzer</span></p><p style="margin:0.36em 0.36em 0.36em 4.64em;line-height:1.76056338028169;"><span style="font-family:'PT Sans','PT Sans';color:rgba(52,52,52,1);">Check and Analyzes Human Heart by calculating patient's Health Attributes</span></p></div>
                            <div style="height:0px;width:0px;overflow:hidden;-webkit-margin-top-collapse: separate;"></div>
                            <div style="clear:both;"></div>
                        </div>
                    </div>
                    <div class="clearfix visible-xs-block">
                    </div>
                    <div class="post_column col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <div class="ttr_About_html_column41">
                            <div style="height:0px;width:0px;overflow:hidden;-webkit-margin-top-collapse: separate;"></div>
                            <div class="html_content"><p><span class="ttr_image" style="float:Left;overflow:hidden;margin:0em 1.43em 0em 0em;"><span><img src="images/112.png" class="ttr_fill" style="max-width:48px;max-height:48px;" /></span></span><span style="font-family:'PT Sans','PT Sans';font-weight:700;font-size:1.286em;color:rgba(40,54,61,1);">Time-Saving Pre-Treatment Facility</span></p><p style="margin:0.36em 0.36em 0.36em 4.64em;line-height:1.76056338028169;"><span style="font-family:'PT Sans','PT Sans';color:rgba(52,52,52,1);">Saves time by quickly testing Heart's Health Affecting Factors</span></p></div>
                            <div style="height:0px;width:0px;overflow:hidden;-webkit-margin-top-collapse: separate;"></div>
                            <div style="clear:both;"></div>
                        </div>
                    </div>
                    <div class="clearfix visible-sm-block visible-md-block visible-xs-block">
                    </div>
                    <div class="post_column col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <div class="ttr_About_html_column42">
                            <div style="height:0px;width:0px;overflow:hidden;-webkit-margin-top-collapse: separate;"></div>
                            <div class="html_content"><p><span class="ttr_image" style="float:Left;overflow:hidden;margin:0em 1.43em 0em 0em;"><span><img src="images/113.png" class="ttr_fill" style="max-width:48px;max-height:48px;" /></span></span><span style="font-family:'PT Sans','Arial';font-weight:700;font-size:1.286em;color:rgba(40,54,61,1);">User-Friendly Interface</span></p><p style="margin:0.36em 0.36em 0.36em 4.64em;line-height:1.76056338028169;"><span style="font-family:'PT Sans','PT Sans';color:rgba(52,52,52,1);">Clean User Interface that helps Users (Patients) to use Application more rapidly.</span></p></div>
                            <div style="height:0px;width:0px;overflow:hidden;-webkit-margin-top-collapse: separate;"></div>
                            <div style="clear:both;"></div>
                        </div>
                    </div>
                    <div class="clearfix visible-lg-block visible-xs-block">
                    </div>
                </div>
                <div class="ttr_About_html_row5 row" style="display:none">
                    <div class="post_column col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="ttr_About_html_column50">
                            <div style="height:0px;width:0px;overflow:hidden;-webkit-margin-top-collapse: separate;"></div>
                            <div class="html_content"><p style="margin:0.36em 0.36em 1.43em 0.36em;text-align:Center;"><span style="font-family:'Arial';font-weight:700;font-size:1.429em;color:rgba(40,54,61,1);">WORK TEAM</span></p><p style="margin:0.36em 0.36em 0em 0.36em;text-align:Center;"><span style="font-family:'PT Sans','PT Sans';color:rgba(30,41,47,1);">Praesent mattis, massa quis luctus fermentum, turpis mi.</span></p></div>
                            <div style="height:0px;width:0px;overflow:hidden;-webkit-margin-top-collapse: separate;"></div>
                            <div style="clear:both;"></div>
                        </div>
                    </div>
                    <div class="clearfix visible-lg-block visible-sm-block visible-md-block visible-xs-block">
                    </div>
                </div>
                <div class="ttr_About_html_row6 row" style="display:none">
                    <div class="post_column col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        <div class="ttr_About_html_column60">
                            <div style="height:0px;width:0px;overflow:hidden;-webkit-margin-top-collapse: separate;"></div>
                            <div class="html_content"><p style="margin:0.36em 0.36em 1.43em 0.36em;text-align:Center;"><span class="ttr_image" style="float:none;display:block;text-align:center;overflow:hidden;margin:0em 0em 0em 0em;"><span><img src="images/114.jpg" style="max-width:315px;max-height:200px;" /></span></span><br style="font-family:'Rosario','Arial';font-weight:700;color:rgba(40,54,61,1);" /></p><p style="margin:0.36em 0.36em 1.43em 0.36em;text-align:Center;"><span style="font-family:'Rosario','Arial';font-weight:700;color:rgba(40,54,61,1);">Tincidunt Nec</span></p><p style="margin:0.36em 0.36em 0.36em 0.36em;text-align:Center;line-height:1.76056338028169;"><span style="font-family:'PT Sans','PT Sans';color:rgba(52,52,52,1);">Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl.Praesent mattis, massa quis luctus fermentum, turpis mi volutpat justo</span></p></div>
                            <div style="height:0px;width:0px;overflow:hidden;-webkit-margin-top-collapse: separate;"></div>
                            <div style="clear:both;"></div>
                        </div>
                    </div>
                    <div class="clearfix visible-xs-block">
                    </div>
                    <div class="post_column col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        <div class="ttr_About_html_column61">
                            <div style="height:0px;width:0px;overflow:hidden;-webkit-margin-top-collapse: separate;"></div>
                            <div class="html_content"><p style="margin:0.36em 0.36em 1.43em 0.36em;text-align:Center;"><span class="ttr_image" style="float:none;display:block;text-align:center;overflow:hidden;margin:0em 0em 0em 0em;"><span><img src="images/115.jpg" style="max-width:315px;max-height:200px;" /></span></span><br style="font-family:'Rosario','Arial';font-weight:700;color:rgba(40,54,61,1);" /></p><p style="margin:0.36em 0.36em 1.43em 0.36em;text-align:Center;"><span style="font-family:'Rosario','Arial';font-weight:700;color:rgba(40,54,61,1);">Massa Quis</span></p><p style="margin:0.36em 0.36em 0.36em 0.36em;text-align:Center;line-height:1.76056338028169;"><span style="font-family:'PT Sans','PT Sans';color:rgba(52,52,52,1);">Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl.Praesent mattis, massa quis luctus fermentum, turpis mi volutpat justo</span></p></div>
                            <div style="height:0px;width:0px;overflow:hidden;-webkit-margin-top-collapse: separate;"></div>
                            <div style="clear:both;"></div>
                        </div>
                    </div>
                    <div class="clearfix visible-sm-block visible-md-block visible-xs-block">
                    </div>
                    <div class="post_column col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        <div class="ttr_About_html_column62">
                            <div style="height:0px;width:0px;overflow:hidden;-webkit-margin-top-collapse: separate;"></div>
                            <div class="html_content"><p style="margin:0.36em 0.36em 1.43em 0.36em;text-align:Center;"><span class="ttr_image" style="float:none;display:block;text-align:center;overflow:hidden;margin:0em 0em 0em 0em;"><span><img src="images/116.jpg" style="max-width:315px;max-height:200px;" /></span></span><br style="font-family:'Rosario','Arial';font-weight:700;color:rgba(40,54,61,1);" /></p><p style="margin:0.36em 0.36em 1.43em 0.36em;text-align:Center;"><span style="font-family:'Rosario','Arial';font-weight:700;color:rgba(40,54,61,1);">Vehicula Nisi</span></p><p style="margin:0.36em 0.36em 0.36em 0.36em;text-align:Center;line-height:1.76056338028169;"><span style="font-family:'PT Sans','PT Sans';color:rgba(52,52,52,1);">Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl.Praesent mattis, massa quis luctus fermentum, turpis mi volutpat justo</span></p></div>
                            <div style="height:0px;width:0px;overflow:hidden;-webkit-margin-top-collapse: separate;"></div>
                            <div style="clear:both;"></div>
                        </div>
                    </div>
                    <div class="clearfix visible-xs-block">
                    </div>
                    <div class="post_column col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        <div class="ttr_About_html_column63">
                            <div style="height:0px;width:0px;overflow:hidden;-webkit-margin-top-collapse: separate;"></div>
                            <div class="html_content"><p style="margin:0em 0.36em 1.43em 0.36em;text-align:Center;"><span class="ttr_image" style="float:none;display:block;text-align:center;overflow:hidden;margin:0em 0em 0em 0em;"><span><img src="images/117.jpg" style="max-width:315px;max-height:200px;" /></span></span><br style="font-family:'Rosario','Arial';font-weight:700;color:rgba(40,54,61,1);" /></p><p style="margin:0em 0.36em 1.43em 0.36em;text-align:Center;"><span style="font-family:'Rosario','Arial';font-weight:700;color:rgba(40,54,61,1);">Justo Mi</span></p><p style="margin:0.36em 0.36em 0.36em 0.36em;text-align:Center;line-height:1.76056338028169;"><span style="font-family:'PT Sans','PT Sans';color:rgba(52,52,52,1);">Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl.Praesent mattis, massa quis luctus fermentum, turpis mi volutpat justo</span></p></div>
                            <div style="height:0px;width:0px;overflow:hidden;-webkit-margin-top-collapse: separate;"></div>
                            <div style="clear:both;"></div>
                        </div>
                    </div>
                    <div class="clearfix visible-lg-block visible-sm-block visible-md-block visible-xs-block">
                    </div>
                </div>
                <div class="ttr_About_html_row7 row">

                    <div class="clearfix visible-lg-block visible-sm-block visible-md-block visible-xs-block">
                    </div>
                </div>
                <div style="height:0px;width:0px;overflow:hidden;-webkit-margin-top-collapse: separate;"></div>
            </div>
        </div>
        <div style="clear:both">
        </div>
    </div>
    <div style="height:0px;width:0px;overflow:hidden;"></div>
    <footer id="ttr_footer">
        <div class="ttr_footerAbout_html_row0 row">
            <div class="post_column col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="ttr_footerAbout_html_column00">
                    <div style="height:0px;width:0px;overflow:hidden;-webkit-margin-top-collapse: separate;"></div>
                    <div class="html_content"><p style="margin:0.36em 0.36em 0.36em 1.43em;line-height:1.47042253521127;"><br style="font-family:'Rosario','Cooper Std';font-weight:700;font-size:1.429em;color:rgba(30,214,203,1);" /></p><p style="margin:0.36em 0.36em 0.36em 1.43em;line-height:1.47042253521127;"><br style="font-family:'Rosario','Cooper Std';font-weight:700;font-size:1.429em;color:rgba(30,214,203,1);" /></p><p style="margin:0.36em 0.36em 1.43em 1.43em;line-height:1.47042253521127;"><span style="font-family:'Rosario','Cooper Std';font-weight:700;font-size:1.429em;color:rgba(255,86,119,1);">Developers Information!</span></p><p style="margin:0.14em 0em 0em 1.43em;line-height:1.76056338028169;"><span style="font-family:'PT Sans','PT Sans';font-size:1.071em;color:rgba(255,255,255,1);">This App is developed as a small step to innovate health care sector using AI and Azure cloud native services <br /> by CSIT Student</span></p></div>
                    <div style="height:0px;width:0px;overflow:hidden;-webkit-margin-top-collapse: separate;"></div>
                </div>
            </div>
            <div class="clearfix visible-xs-block">
            </div>
            <div class="post_column col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="ttr_footerAbout_html_column01">
                    <div style="height:0px;width:0px;overflow:hidden;-webkit-margin-top-collapse: separate;"></div>
                    <div class="html_content"><p style="margin:0.36em 0.36em 0.36em 0em;text-align:Center;"><br style="font-family:'Rosario','Arial';font-weight:700;font-size:1.286em;color:rgba(255,255,255,1);" /></p><p style="margin:0.36em 0.36em 0.36em 0em;text-align:Center;"><br style="font-family:'Rosario','Arial';font-weight:700;font-size:1.286em;color:rgba(255,255,255,1);" /></p><p style="margin:0.36em 0.36em 0.36em 1.43em;line-height:2.8169014084507;"><span style="font-family:'Rosario','Arial';font-size:1.286em;color:rgba(255,86,119,1);">SOCIAL MEDIA</span></p><p style="margin:0.36em 0.36em 0.36em 1.43em;line-height:2.8169014084507;"><span class="ttr_image" style="float:Left;overflow:hidden;margin:0em 0em 0em 0em;"><span><img src="images/118.png" class="ttr_fill" style="max-width:32px;max-height:32px;" /></span></span><span style="font-family:'Rosario','Arial';font-weight:700;font-size:1.286em;color:rgba(255,255,255,1);"> </span><span style="font-family:'Rosario','Arial';font-size:1.286em;color:rgba(255,255,255,1);">Instagram</span></p><p style="margin:0.36em 0.36em 0.36em 1.43em;line-height:2.8169014084507;"><span class="ttr_image" style="float:Left;overflow:hidden;margin:0em 0em 0em 0em;"><span><img src="images/119.png" class="ttr_fill" style="max-width:32px;max-height:32px;" /></span></span><span style="font-family:'Rosario','Arial';font-weight:700;font-size:1.286em;color:rgba(255,255,255,1);"> </span><span style="font-family:'Rosario','Arial';font-size:1.286em;color:rgba(255,255,255,1);">Facebook</span></p><p style="margin:0.36em 0.36em 0.36em 1.43em;line-height:2.8169014084507;"><span class="ttr_image" style="float:Left;overflow:hidden;margin:0em 0em 0em 0em;"><span><img src="images/120.png" class="ttr_fill" style="max-width:32px;max-height:32px;" /></span></span><span style="font-family:'Rosario','Arial';font-weight:700;font-size:1.286em;color:rgba(255,255,255,1);"> </span><span style="font-family:'Rosario','Arial';font-size:1.286em;color:rgba(255,255,255,1);">Twitter</span></p></div>
                    <div style="height:0px;width:0px;overflow:hidden;-webkit-margin-top-collapse: separate;"></div>
                </div>
            </div>
            <div class="clearfix visible-xs-block">
            </div>
            <div class="post_column col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="ttr_footerAbout_html_column02">
                    <div style="height:0px;width:0px;overflow:hidden;-webkit-margin-top-collapse: separate;"></div>
                    <div class="html_content"><p style="margin:0.36em 0.36em 0.36em 1.43em;"><br style="font-family:'Rosario','Arial';font-weight:700;font-size:1.286em;color:rgba(255,255,255,1);" /></p><p style="margin:0.36em 0.36em 0.36em 1.43em;"><br style="font-family:'Rosario','Arial';font-weight:700;font-size:1.286em;color:rgba(255,255,255,1);" /></p><p style="margin:0.36em 0.36em 1.43em 1.43em;"><span style="font-family:'Rosario','Arial';font-size:1.286em;color:rgba(255,86,119,1);">ADDRESS</span></p><p style="margin:0.36em 0.36em 0.36em 1.43em;"><span style="font-family:'PT Sans','Arial';font-size:1.071em;color:rgba(255,255,255,1);">Service Rd, NED University Of Engineering & Technology, Karachi, Karachi City, Sindh</span></p><p style="margin:0.36em 0.36em 0.36em 1.43em;"><span style="font-family:'PT Sans','Arial';font-size:1.071em;color:rgba(255,255,255,1);">Karachi, Pakistan</span></p><p style="margin:0.36em 0.36em 0.36em 1.43em;"><span style="font-family:'PT Sans','Arial';font-size:1.071em;color:rgba(255,255,255,1);">Phone No. 1800 110 1200</span></p><p style="margin:0.36em 0.36em 0.36em 1.43em;"><span style="font-family:'PT Sans','Arial';font-size:1.071em;color:rgba(255,255,255,1);">Email. Info@company.com</span></p></div>
                    <div style="height:0px;width:0px;overflow:hidden;-webkit-margin-top-collapse: separate;"></div>
                </div>
            </div>
            <div class="clearfix visible-lg-block visible-sm-block visible-md-block visible-xs-block">
            </div>
        </div>
        <div class="ttr_footer_bottom_footer">
            <div class="ttr_footer_bottom_footer_inner">
                <div id="ttr_footer_designed_by_links">
                    <a href="" target="_self" style="color:rgba(255,86,119,1);">
                        FYDP:
                    </a>
                    <span id="ttr_footer_designed_by">
                        Heart Analyzer based on Machine Learning Model with Prototype Hardware
                    </span>
                </div>
            </div>
        </div>
    </footer>
    <div style="height:0px;width:0px;overflow:hidden;-webkit-margin-bottom-collapse: separate;"></div>
</div>